Package: fvwm-nightshade
Version:
Architecture: all
Maintainer: Thomas Funk <t.funk@web.de>
Installed-Size:
Depends: fvwm (>> 1:2.6.4)|fvwm (>> 2.6.4), python (<< 3), python-xdg, xterm, conky, xscreensaver, feh, imagemagick, librsvg2-bin, stalonetray, cpufrequtils, x11-apps
Recommends: network-manager-gnome, pcmanfm
Suggests: volumeicon, fdpowermon, blueman-applet, pm-utils, lxapearance, qt3-qtconfig, qt4.qtconfig
Section: x11
Priority: optional
Homepage: https://github.com/Fvwm-Nightshade
Description: Lightweight but feature rich and good looking configuration of Fvwm
 It contains many useful things to make work and life easier with a flavour of a 
 modern desktop. But it can be configure by your own. It is good documented and 
 shows you what is possible with this powerful window manager.

