#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

override_dh_auto_install:
	$(MAKE) DESTDIR=$$(pwd)/debian/fvwm-nightshade prefix=/usr dist-install
	
	rm -f debian/fvwm-nightshade/usr/share/doc/fvwm-nightshade/ChangeLog
	rm -f debian/fvwm-nightshade/usr/share/doc/fvwm-nightshade/LICENSE
	rm -f debian/fvwm-nightshade/usr/share/doc/fvwm-nightshade/License
	rm -f debian/fvwm-nightshade/usr/share/doc/fvwm-nightshade/INSTALL
	rm -f debian/fvwm-nightshade/usr/share/doc/fvwm-nightshade/COPYING
	rm -f debian/fvwm-nightshade/usr/share/doc/fvwm-nightshade/TODO
	rm -f debian/fvwm-nightshade/usr/share/themes/Air/LICENSE
	rm -f debian/fvwm-nightshade/usr/share/themes/FlatTab/LICENSE
	rm -f debian/fvwm-nightshade/usr/share/themes/Tribal/LICENSE
	rm -f debian/fvwm-nightshade/usr/share/themes/PitchBlack/LICENSE
### end dh overrides

%:
	dh $@ --with python2

